section.checkout {
	padding: 50px;

	&.sub-page-banner {
		min-height: 350px;
	}

	.theme-card {
		.content-wrapper {
			margin-bottom: 30px;
			text-align: center;
		}

		form {
			width: 100%;
		}

		.items {
			.row {
				margin: 0;
				border: 1px solid #e2e2e2;
				border-radius: 6px;

				>div {
					&:not(:last-child) {
						border-right: 1px solid #e2e2e2;

						@media @mobileTab {
							border-right: unset;
							border-bottom: 1px solid #e2e2e2;
						}
					}
				}
			}

			.item {
				text-align: center;

				p {
					margin-bottom: 15px;
					font-size: 16px;
				}

				label {
					font-weight: 600;
					padding: 15px;
				}

				a {
					display: block;
				}
			}
		}

		.btn-row {
			margin-top: 25px;
			display: flex;
			gap: 15px;

			button,
			a {
				width: 100%;
			}
		}
	}

	&.success {
		i {
			font-size: 42px;
			margin-bottom: 20px;
			color: green;
		}

		h2 {
			&:first-of-type {
				color: green;
				margin: 0 0 10px;
			}
		}

		.btn-row {

			button,
			a {
				margin: 0 auto;
				width: fit-content;
			}
		}
	}

	&.failure {
		i {
			font-size: 42px;
			margin-bottom: 20px;
			color: red;
		}

		h2 {
			&:first-of-type {
				color: red;
				margin: 0 0 10px;
			}
		}

		.alert {
			ul {
				list-style: none;
			}
		}
	}
}

.table-wrapper {
	overflow-x: auto;

	table {
		table-layout: fixed;

		@media @mobileTab {
			table-layout: unset;
		}

		td {
			min-width: 250px;
		}
	}
}

.invoice {
	.invoice-wrapper {
		border: 1px solid #d6d5d5;
		border-radius: 12px;
		background: #f3f3f3;
		padding: 20px;
		color: #3e3e3e;

		.theme-btn {
			width: fit-content;

			@media @mobile {
				margin-top: 15px;
				width: 100% !important;
			}
		}

		img {
			@media @mobileTab {
				max-width: 150px !important;
			}
		}

		table {
			th {

				p,
				span {
					font-size: 12px !important
				}
			}

			td {

				p,
				span {
					font-size: 14px !important
				}
			}
		}
	}
}

.checkout-details-title {
	.container {
		border-top: 1px solid #ddd;
		padding: 30px 0 15px;
	}

	.content-wrapper {
		text-align: center;
	}
}

.checkout-details {
	margin-top: 40px;
}